@font-face {
	font-family: 'Neuzeit S LT Std';
	src: url('fonts/NeuzeitSLTStd-BookHeavy.eot');
	src: url('fonts/NeuzeitSLTStd-BookHeavy.eot?#iefix') format('embedded-opentype'),
		url('fonts/NeuzeitSLTStd-BookHeavy.woff2') format('woff2'),
		url('fonts/NeuzeitSLTStd-BookHeavy.woff') format('woff'),
		url('fonts/NeuzeitSLTStd-BookHeavy.ttf') format('truetype'),
		url('fonts/NeuzeitSLTStd-BookHeavy.svg#NeuzeitSLTStd-BookHeavy') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Neuzeit S LT Std';
	src: url('fonts/NeuzeitSLTStd-Book.eot');
	src: url('fonts/NeuzeitSLTStd-Book.eot?#iefix') format('embedded-opentype'),
		url('fonts/NeuzeitSLTStd-Book.woff2') format('woff2'),
		url('fonts/NeuzeitSLTStd-Book.woff') format('woff'),
		url('fonts/NeuzeitSLTStd-Book.ttf') format('truetype'),
		url('fonts/NeuzeitSLTStd-Book.svg#NeuzeitSLTStd-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GTSectraDisplay-SuperItalic';
	src: url('fonts/GTSectraDisplay-SuperItalic.eot');
	src: url('fonts/GTSectraDisplay-SuperItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/GTSectraDisplay-SuperItalic.woff2') format('woff2'),
		url('fonts/GTSectraDisplay-SuperItalic.woff') format('woff'),
		url('fonts/GTSectraDisplay-SuperItalic.ttf') format('truetype'),
		url('fonts/GTSectraDisplay-SuperItalic.svg#GTSectraDisplay-SuperItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
    font-family: 'Trillium-left';
    src: url('fonts/Trillium-Left.woff2') format('woff2'),
        url('fonts/Trillium-Left.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
